div.Whislist_Song_List{
    width: 100%;
    margin: auto;
}
div.Wishlist_Title_Songs{
    padding-top: 80px;
    margin-left: 27.5%;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width:1000px) {
  div.Wishlist_Title_Songs{
    margin-left: 0px;
  }
}
div.Your_Whihlist_Names{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width:1000px) {
  div.Your_Whihlist_Names{
    width: 80%;
    margin: auto;
    justify-content: center;
  }
}
@media screen and (max-width:800px) {
  div.Your_Whihlist_Names{
    width: 90%;
    margin: auto;
  }
}
div.border_Wishlist{
  width: 300px;
  margin-left: 10px;
  margin-bottom: 10px;
}
div.IMG_List_Flex_Len{
  display: flex;
  align-items: center;
}
div.Img_Wishlist{
    border: 1px solid var(--ccc);
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: var(--fff);
    position: relative;
    cursor: pointer;
}
div.Img_Wishlist:hover{
    transform: scale(1.15);
    z-index: 999;
    box-shadow: 0 0 8px var(--ccc);
}
/*div.Img_Wishlist:hover{
    transform: scale(1.16);
    z-index: 999;
    background-color: var(--000);
}
 div.Img_Wishlist:hover h3.name_List{
    color: var(--fff);
}
div.Img_Wishlist:hover p.Des_Wishlist{
    color: var(--fff);
}
div.Img_Wishlist:hover p.price_Wishlist{
    color: var(--fff);
} */
img.Img_Wishlist_width{
  width: 120px;
  height: 120px;
  border-radius: 5px;
}
div.Width_Max-Wish{
    width: 120px;
    height: 120px;
}

div.Flex_Song_wishlist{
    background-color: #7ee8fa;
    border: 1px solid var(--ccc);
    background-image: linear-gradient(45deg, #7ee8fa 25%, #80ff72 70% );
    width: 100%;
    height: 120px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
 }
 div.Song_wish_Name{
 display: flex; 
 justify-content: center; 
 align-items: center; 
 width: 100%;
 height: 100%;
 overflow: hidden;
 }
 h1.wish_Song{
    font-size: 20px;
    font-weight: 600;
    color: var(--000);
 }

 div.Name_Contant_wish{
    margin-left: 10px;
 }
 h3.name_List{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;
    color: var(--000);
 }
 p.Des_Wishlist,
 p.price_Wishlist{
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--000);
 }
 #Price_Wish_Rup{
    font-size: 15px;
    margin-right: 2px;
 }

 h1.Error_Msg_Wishlist{
    font-size: 20px;
    text-align: center;
    margin-left: -40px;
  }
  @media screen and (max-width:1000px) {
    h1.Error_Msg_Wishlist{
      margin-left: 0px;
    }
  }
  span.Error_Success_Wishlist {
    background-color: var(--fff);
    padding: 10px 15px;
    color: var(--000);
    border-radius: 5px;
    box-shadow: 0 0 8px var(--000);
    animation: dealytopwish 2s ease-in-out; 
    transition: all 0.1s ease-in-out;
    position: relative; 
  }
  
  span.Error_Success_Wishlist::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%;
    height: 2px; 
    background-color: #ff9700; 
    animation: decreaseWidthwish 1.3s ease-in-out infinite; 
    border-radius: 5px;
    margin-left: 2px;
  }
  
  @keyframes dealytopwish {
    0% {
      border-bottom: none; 
    }
  }
  
  @keyframes decreaseWidthwish {
    0% {
      width: 100%; 
    }
    100% {
      width: 0%; 
    }
  }
  div.Wish_Btn_List_Btns{
    position: absolute;
    right: 0%;
    top: 0%;
    margin-right: 5px;
    margin-top: 3px;
  }
  button.Icon_Remove_Wish_Btn{
    border: 1px solid var(--000);
    outline: none;
    background-color: var(--fff);
    border-radius: 5px;
    padding: 2.5px 10px;
    padding-left: 12px;
    padding-top: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    padding-bottom: 6px;
    color: var(--000);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: btnwishan 2s linear ease-in-out;
  }
  @keyframes btnwishan {
    0%{
        background-color: #e91e63;
    }
    100%{
        background-color: #80ff72;
    }
  }
  button.Icon_Remove_Wish_Btn:hover{
    transform: scale(1.2);
    background-color: var(--000);
    color: var(--fff);
    border: 1px solid var(--fff);
  }
#Fa_Remove_wish_btn{
  font-size: 15px;
  color: red;
  font-weight: 800;
  margin-right: 3px;
}
button.Icon_Remove_Wish_Btn:hover #Fa_Remove_wish_btn {
  animation: bouncewish 1s linear;
}

@keyframes bouncewish {
  0%{
   transform: rotate(0);
  }
  100%{
    transform: rotate(90deg);
  }
}

.Hai_Btn_Wer{
  position: absolute;
  right: 0%;
}

  h1.text_log_Session{
    font-size: 25px;
    font-family: "Hind Madurai", sans-serif;
    color: var(--000);
    font-weight: 600;
    margin-bottom:30px;
  }
  #Session_Log_Heart{
    color: #e91e63;
    font-size: 20px;
    font-weight: 700;
  }
  div.Logout_Wishlist{
    text-align: center;
    padding-top: 40px;
  }
  .Login_Session_Wish{
    text-decoration: none;
  }
  button.Btn_session_Log{
    font-size: 20px;
    padding: 5px 15px ;
    padding-bottom: 7px;
    border: 1px solid var(--000);
    border-radius: 5px;
    margin-right: 20px;
    color: var(--000);
    background-color: var(--fff);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
  }
  button.Btn_session_Log:hover{
    transform: scale(1.16);
    background-color: var(--000);
    color: var(--fff);
    border: 1px solid var(--ccc);
    text-decoration: underline;
  }
  button.Btn_session_Sig{
    font-size: 20px;
    padding: 5px 15px ;
    padding-bottom: 7px;
    border: 1px solid var(--000);
    border-radius: 5px;
    margin-right: 20px;
    background-color: var(--000);
    color: var(--fff);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
  }
  button.Btn_session_Sig:hover{
    transform: scale(1.16);
    background-color: var(--fff);
    color: var(--000);
    border: 1px solid var(--000);
    text-decoration: underline;
  }
  div.Add_Cart_Pro_Btn{
    margin-top: 5px;
    margin-left: 10px;
  }
  button.Add_Cart_Btn_Prog{
    justify-content: center;
    align-items: center;
    background-color: var(--000);
    color: var(--fff);
    outline: none;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  button.Add_Cart_Btn_Prog:hover{
    background-color: var(--fff);
    color: var(--000);
    transform: scale(1.2);
    border: 1px solid var(--000);
  }
  #Cart-Fa_Shop{
    margin-right: 5px;
  }
  button.Add_Cart_Btn_Prog:hover #Cart-Fa_Shop{
    animation: leftBounCartwish 1.5s linear;
  }
  @keyframes leftBounCartwish {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translatex(-10px);
    }
    60% {
      transform: translatex(-5px);
    }
  }
  div.No_Data_wish{
    text-align: center; 
  }
  h2.Search_Data{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }
  button.Name_Btn_Home{
    margin-top: 10px;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid var(--000);
    text-decoration: none;
    background-color: var(--000);
    color: var(--fff);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  button.Name_Btn_Home:hover{
    color: var(--000);
    background-color: var(--fff);
    text-decoration: underline;
    transform: scale(1.2);
  }

  #Cart_Wish_home{
    margin-right: 3px;
  }
  button.Name_Btn_Home:hover #Cart_Wish_home{
  animation: leftcartwishho 1.5s linear;
  }
  @keyframes leftcartwishho {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
